$btn-bg: #402f2c;
$header-bg: #f9f6f5;
$footer-bg: #fafafa;
$lite-bg: #fdf8f5;
$saturated-bg: #dddddd;
$border: #eeeeee;
$dark: #000000;
$gray: #555555;
$white: #ffffff;
$title-color: #222222;
$green: #6fb587;
